@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#title{
    margin-top: 30px;
    font-size: 80px;
}

#change-background{
    margin-top: 10px;
    text-align: right;
}